<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员界面</title>
</head>
<script>
     function ok(){
         var verify = document.getElementById("verify");
         if(verify){
             alert("操作成功")
         }
     }
</script>
<body>
<div>
<div>
    <form method="post" action="/bank/middlemanager/{{ username }}" style="text-align: center">
        <span>中级管理员，欢迎您。你有处理低于100000元交易的权限</span>

        <p>
               <p>是否同意用户{{ username }}请求</p>
               <p>金额{{ money }}</p>
               <p>操作{{ operate }}</p>

        </p>
               <select id="operate" name="manageroperate">
                <option value="agree">同意</option>
                <option value="deny">拒绝</option>
              </select>
        <p>
            <input type="submit" value="确定" id ="verify" onclick="ok();">
        </p>
    </form>

</div>
</div>
<div style="white-space: pre-line"></div>
</body>
</html>